*{
    margin: 0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 10px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: not-allowed;
    opacity: 0.7;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 600;
    width: 100%;
    border: 0;
    padding: 10px;
    margin: 20px 0 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; /* JS will show when needed */
}
.correct{
    background: #9aeabc !important;
    color: #023;
}
.incorrect{
    background: #ff9393 !important;
    color: #300;
}